$Font1: 'Lato',sans-serif;
$Font2: 'Oswald', sans-serif;
$primary-color: #333333;
$light-color: #FFFFFF;
$secundary-color: #8841DA;
$variation-color: #3f579a;

* {
    /*Para no tener problema con 
    margin ni padding*/
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: $Font1;

}

main{
    display: flex;
    width: 100%;
    height: 100vh;
}

.perfil{
    width: 50%;
    padding-top: 50px;
    color: $light-color;
    background-color: $secundary-color;
    &__avatar{
        display: block;
        margin: 0 auto;
        border-radius: 50em;
    }
    &__nombre{
        text-transform: uppercase;
        text-align: center;
        font-size: 20px;
        font-family: $Font2;
    }
    &__titulo{
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        font-size: 12px;
    }
    &__boton{
        display: block;
        width: 100px;
        height: 40px;
        margin: 15px auto;
        padding-top: 15px;
        border-radius: 20px;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        font-family: $Font2;
        color: $light-color;
    }
}

.estadistica--perfil {
    width: 50%;
    height: 90px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding-top: 15px;
    /* border: 1px solid black; */
    border-radius: 20px;
    background-color: $light-color;
    color: $primary-color;
    h3 {
        font-weight: 600;
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
        font-family: $Font2;
    }

    span{
        font-size: 12px;
        text-align: center;
        padding-bottom: 10px;
        font-family: $Font2;
        text-transform: uppercase;
    }
}


