@primary-color: #333333;
@light-color: #FFF;
@secundary-color: #8841da;
@variant-color: #012179;
@Font1: 'Lato', sans-serif;
@Font2: 'Oswald', sans-serif;
*{
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: @Font1;
	color: @primary-color;
}

h1,h2,h3 {
	font-family: @Font2;
	text-transform: uppercase;
	margin: 0;
}