.contenido {
  margin-bottom: 40px;
  justify-content: space-evenly;
}
.caja {
  max-width: 400px;
}
.caja__contenido {
  padding: 20px;
  background-color: light-color;
}
.caja__contenido span {
  color: secundary-color;
}
.caja__contenido h3 {
  font-weight: normal;
}
.caja2 {
  max-width: 400px;
}
.caja2__contenido {
  padding: 20px;
  background-color: light-color;
}
.caja2__contenido span {
  color: secundary-color;
}
.caja2__contenido h3 {
  font-weight: normal;
}
