.contenido
	margin-bottom: 40px
	justify-content: space-evenly
	contenedor()
	
.caja
	max-width: 400px
	caja-sombra()
	&__contenido
		padding: 20px;
		background-color: light-color
		span 
			text-transform: uppercase
			color: secundary-color
			font-family: Fuente2
		height
			text-transform: uppercase
			font-weight: normal
			font-family: Fuente2