$Font1: 'Lato',sans-serif;
$Font2: 'Oswald', sans-serif;
$primary-color: #333333;
$light-color: #FFFFFF;
$secundary-color: #8841DA;
$variation-color: #3f579a;
$gray-color:#e6e9ed;
$dark-color:#181717;

@mixin caja {
    border-radius: 20px;
    box-shadow: 0 20px 33px 0 rgba(0, 0, 0, .5);
    color: $primary-color;
    background-color: $light-color;
}

@function get-opacity($color,$nivelOpacity){
    @return rgba($color,$nivelOpacity);
}

@each $header, $size in (h1:30px,h2: 25px, h3:20px){
    #{$header}{
        font-size: $size;
        margin: 0;
    }
}

@mixin titulos($fuente){
    @if $fuente == $Font1{
        font-family: $Font1;
    }
    @else {
        font-family: $Font2;
        text-transform: uppercase;
    }
}


* {
    /*Para no tener problema con 
    margin ni padding*/
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    @include titulos($Font1);

}

main{
    display: flex;
    width: 100%;
    height: 100%;
    
}