.estadistica--perfil {
    width: 50%;
    height: 90px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding-top: 15px;
    /* border: 1px solid black; */
    @include caja;
    h3 {
        font-weight: 600;
        font-size: 20px;
        text-align: center;
        @include titulos($Font2)
    }

    span{
        font-size: 12px;
        text-align: center;
        padding-bottom: 10px;
        font-family: $Font2;
        text-transform: uppercase;
    }
}